*{
    font-style: italic;
}
#my-body{
    background-color: rgb(178, 231, 231);
    color: black;
    font-family: Roboto, sans-serif;
}
body.bd{
    background-color: aqua;
}
body{
    background-color: azure;
}

p{
    text-align: center !important;
}

.simple-text{
    font-size: normal;
    color: blue;
}

.bold-text{
    font-weight: bold;
}

#last{
    font-size: 24px;
}
.news article h2{
    font-size: 32px;
}

h1, h2{
    font-family: Arial, Helvetica, sans-serif;
}

.text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
.text{
    font: italic bold 20px 'Times New Roman', serif 
}

.text{
    text-align: left !important;
    line-height: 2;
    text-decoration: overline;
}

span.wavy{
    text-decoration: red overline wavy;
}

.box{
    width: 400px;
    height: 400px;
    background-color: aquamarine;
    background-image: url(./images/pexels-photo-4497194.jpeg);
    background-repeat: no-repeat;
}

.box1{
    width: 100px;
    height: 100px;
    background-image: url(./images/pexels-photo-4497194.jpeg);
    background-color: aquamarine;
    background: ;
    border-radius: 50%;

}