*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    text-align: center;
}

.block-img{
    width: 1000px;
    background-color: red;
    background
    margin: 30px auto;
}

img{
    width: 800px;
}

p a {
    color: red;
}

.link{
    margin-top: 30px;
    margin-bottom: 30px;
}

.button{
    color: black;
    text-decoration: none;
    border: 1px solid red;
    padding: 5px 25px;
}